= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :guideline_step_id
    = f.number_field :guideline_step_id
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :display
    = f.text_field :display
  .field
    = f.label :question_type
    = f.text_field :question_type
  .field
    = f.label :constraints
    = f.text_field :constraints
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
