%h1 Listing guidelines

%table
  %tr
    %th Name
    %th Organization
    %th Url
    %th Description
    %th
    %th
    %th

  - @guidelines.each do |guideline|
    %tr
      %td= guideline.name
      %td= guideline.organization
      %td= guideline.url
      %td= guideline.description
      %td= link_to 'Show', guideline
      %td= link_to 'Edit', edit_guideline_path(guideline)
      %td= link_to 'Destroy', guideline, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Guideline', new_guideline_path
