- if @alert.errors.any?
  #error_explanation
    %h2= "#{pluralize(@alert.errors.count, "error")} prohibited this alert from being saved:"
    %ul
      - @alert.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :body_system_id
  = f.collection_select :body_system_id, BodySystem.all, :id, :name
.field
  = f.label :alert_type
  = f.select :alert_type, options_for_select([["User-Defined", 1]])
.field
  = f.label :severity
  = f.select :severity, options_for_select([["Medium", 3], ["High", 5]])
.field
  = f.label :description
  = f.text_field :description

= f.hidden_field :patient_id
