- if @patients.blank?
  (No patients to display)
- else
  %ul
    - @patients.each do |pat|
      - unless pat.name.blank?
        - if pat.patient_locations.active.blank?
          %li
            = "#{pat.name} (#{pat.source_mrn})"
        - else
          %li
            = link_to "#{pat.name} (#{pat.source_mrn})", location_path(pat.patient_locations.active.first.location)
