- row_id = (@patient_flowsheet_row.blank? or @patient_flowsheet_row.id.blank?) ? "new" : @patient_flowsheet_row.id
- @observations = @patient_flowsheet_row.observations
- observation_date = @observations.first.observed_on unless @observations.blank?
- observation = (@observations.blank? ? Observation.new : @observations.first)
%tr.flowsheet_row{"data-flowsheet-row-id"=>row_id}
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_day_#{row_id}", :field_class => "datepicker observation_date", :value => (observation_date.strftime("%m/%d/%Y %H:%M %P") unless observation_date.blank?) }
  %td
    = text_field_tag "obs_type", observation.name, :data => {:code_system => observation.code_system, :code => observation.code}
  %td
    = text_field_tag "obs_value", observation.value, :data => {:id => observation.id}

:javascript
  $().ready(function() {
    var row = $("tr[data-flowsheet-row-id = #{row_id}]");
    obs_date_field = row.find(".observation_date");
    if (obs_date_field.val() == "") {
      changeFlowsheetRowElementsVisibility(row, false);
    }
    obs_date_field.change(function() { changeFlowsheetRowElementsVisibility($(this).closest("tr.flowsheet_row"), true); });
    var obsTypeField = row.find("#obs_type");
    obsTypeField.autocomplete({
      source: GlobalVocabList,
      select: function (event, ui) {
        obsTypeField.data('name', ui.item.label); // display the selected text
        obsTypeField.attr('data-code-system', ui.item.value.code_system);
        obsTypeField.attr('data-code', ui.item.value.code);
        return ui.item.label;
      },
      close: function(event) {
        obsTypeField.val(obsTypeField.data('name'));
      }
    });
    row.find("#obs_value").blur(function() {
      if (row.find("#obs_type").val() != '') {
        saveFlowsheetResponse($(this), true);
      }
    });
  });