- @observations = @patient_flowsheet_row.observations
%tr{"data-flowsheet-row-id"=>@patient_flowsheet_row.id}
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_day", :field_class => "datepicker" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_peep_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_fio2_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_t_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_t_max", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_wbc_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_wbc_max", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_antimicrobials", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_spec", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_polyps", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_epis", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_organism", :code_system => "code", :code => "" }