- row_id = (@patient_flowsheet_row.blank? or @patient_flowsheet_row.id.blank?) ? "new" : @patient_flowsheet_row.id
- @observations = @patient_flowsheet_row.observations
- observation_date = @observations.first.observed_on unless @observations.blank?
%tr.flowsheet_row{"data-flowsheet-row-id"=>row_id}
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_day_#{row_id}", :field_class => "datepicker observation_date", :value => (observation_date.strftime("%m/%d/%Y %H:%M %P") unless observation_date.blank?) }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_peep_min", :code_system => "LOINC", :code => "20075-8" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_fio2_min", :code_system => "SNOMED", :code => "250774007" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_t_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_t_max", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_wbc_min", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_wbc_max", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_antimicrobials", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_spec", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_polyps", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_epis", :code_system => "code", :code => "" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_organism", :code_system => "code", :code => "" }

:javascript
  $().ready(function() {
    var row = $("tr[data-flowsheet-row-id = #{row_id}]");
    obs_date_field = row.find(".observation_date");
    if (obs_date_field.val() == "") {
      changeFlowsheetRowElementsVisibility(row, false);
    }
    obs_date_field.change(function() { changeFlowsheetRowElementsVisibility($(this).closest("tr.flowsheet_row"), true); });
    row.find("input:text:not('.observation_date')").blur(function() { saveFlowsheetResponse($(this)); });
  });