- row_id = (@patient_flowsheet_row.blank? or @patient_flowsheet_row.id.blank?) ? "new" : @patient_flowsheet_row.id
- @observations = @patient_flowsheet_row.observations
- observation_date = @observations.first.observed_on unless @observations.blank?
- observation = (@observations.blank? ? Observation.new : @observations.first)
%tr.flowsheet_row{"data-flowsheet-row-id"=>row_id}
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_day_#{row_id}", :field_class => "datepicker observation_date", :value => (observation_date.strftime("%m/%d/%Y %H:%M %P") unless observation_date.blank?) }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_SBP", :code_system => "LOINC", :code => "8480-6" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_DBP", :code_system => "LOINC", :code => "8462-4" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_HR", :code_system => "LOINC", :code => "LP32063-7" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_Wt", :code_system => "SNOMED", :code => "272102008" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_Ht", :code_system => "SNOMED", :code => "50373000" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_CVP", :code_system => "SNOMED", :code => "71420008" }
  %td
    = render :partial => "flowsheets/observation", :locals => { :field_name => "obs_Temp", :code_system => "LOINC", :code => "LP29701-7" }


:javascript
  $().ready(function() {
    var row = $("tr[data-flowsheet-row-id = #{row_id}]");
    obs_date_field = row.find(".observation_date");
    if (obs_date_field.val() == "") {
      changeFlowsheetRowElementsVisibility(row, false);
    }
    obs_date_field.change(function() { changeFlowsheetRowElementsVisibility($(this).closest("tr.flowsheet_row"), true); });
    row.find("input:text:not('.observation_date')").blur(function() { saveFlowsheetResponse($(this)); });
  });