%tr
  %td
    = text_field_tag :day
  %td
    = text_field_tag :peep_min
  %td
    = text_field_tag :fio2_min
  %td
    = text_field_tag :t_min
  %td
    = text_field_tag :t_max
  %td
    = text_field_tag :wbc_min
  %td
    = text_field_tag :wbc_max
  %td
    = text_field_tag :antimicrobials
  %td
    = text_field_tag :spec
  %td
    = text_field_tag :polyps
  %td
    = text_field_tag :epis
  %td
    = text_field_tag :organism