- patient = location.assigned_patient
- unless patient.nil? and Rails.configuration.hide_empty_locations 
  %div.patient-panel{:class => ("empty-location" if patient.blank?), :id => "loc_#{location.id}", :data => {:score => patient_location_score(location)} }
    %ul.body-systems
      %li.patient-data.room
        = link_to location.name, location_path(location)
      %li.patient-data.name
        = patient.blank? ? "(Unassigned)" : patient.last_name

      - @body_systems.each do |body_loc|
        %li
          %div.status.body_system{:class => (body_system_alert_class(patient, body_loc)) }
            = link_to (location_path(location, :body_system => body_loc.id)) do
              = image_tag body_system_icon_path(body_loc), :class => body_system_alert_class(patient, body_loc)
              - alert_icon = body_system_alert_icon(patient, body_loc)
              = image_tag alert_icon, :class => "modifier_icon" unless alert_icon.blank?
