- #:patient => patient, :guideline => g, :body_system => context_body_system
- patient_guideline = PatientGuideline.find_by_patient_id_and_guideline_id(patient.id, guideline.id)
- steps = PatientGuidelineStep.find_all_by_patient_guideline_id(patient_guideline.id)
%b
  = guideline.name
%ul
  - steps.each do |step|
    - if step.is_met
      %li
        %div
          = step.guideline_step.description
          - unless step.guideline_step_observations.nil? or step.guideline_step_observations.blank?
            = button_tag "&raquo;".html_safe, { :class => "show-details-button", :title => "Observations related to #{step.guideline_step.description}", :data => { :step_id => step.id } }
      - unless step.guideline_step_observations.nil? or step.guideline_step_observations.blank?
        %div.guideline-observation-panel{:id => "obs-panel-#{step.id}"}
          - grouped_observations = group_guideline_step_observations(step.guideline_step_observations)
          - grouped_observations.each do |group, obs|
            %div
              .guideline-observation-header= group
              %ul.guideline-observation
                - obs.each do |o|
                  = render "guideline_step_observations/details", :observation => o.observation
    - elsif step.requires_data
      %li
        = render "questions/guideline_questions", :questions => step.questions
