- patient = location.assigned_patient
- context_body_system = @context_body_system
- context_body_system ||= BodySystem.first

= hidden_field_tag(:patient_id, patient.id) unless patient.nil?

%table
  %tbody
    %tr
      %td{:width=>"120px", :style=>"text-align: center;"}
        = image_tag body_system_icon_path(context_body_system), :class => "main-system #{body_system_alert_class(patient, context_body_system)}"
        = context_body_system.name
        %br
        %br
        %ul.body-systems.two-columns
          - @body_systems.each do |body_loc|
            %li
              %div.status.body_system{:class => (body_system_alert_class(patient, body_loc)) }
                = link_to (location_path(location, :body_system => body_loc.id)) do
                  = image_tag body_system_icon_path(body_loc), :class => body_system_alert_class(patient, body_loc)
                  - alert_icon = body_system_alert_icon(patient, body_loc)
                  = image_tag alert_icon, :class => "modifier_icon" unless alert_icon.blank?
          %li.patient-data.add-data
            - unless patient.blank?
              = link_to "Add Data", new_observation_path(:patient_id => patient.id), :data => {:patientid => patient.id}
      %td{:style=>"padding-left: 20px"}
        %div#alert-list
          = render "alerts/patient_body_system_alerts", :location => location, :patient => patient, :body_system => context_body_system

        %div#problem-list
          = render "patients/problem_list", :patient => patient

        %div#guideline-list
          %h2 Guidelines
          - unless patient.blank? or patient.patient_guidelines.blank?
            - guidelines = PatientGuideline.find_all_by_patient_id(patient.id, context_body_system.id)
            - guidelines.select{|x| x.guideline.body_system_id == context_body_system.id and x.requires_data?}.each do |g|
              = render "patient_guideline_details", :patient => patient, :guideline => g.guideline, :body_system => context_body_system

:javascript
  $(document).ready(function() {
    $("#problem-list a").click(function() {
      getProblemListForm("#{patient ? patient.id : ''}");
      event.preventDefault();
    });
  });

  function getProblemListForm(id) {
    $.ajax({
      type: "GET",
      url: '/patients/' + id + '/problem_list_edit',
      contentType: 'text/javascript',
      success: function(data) {
        $("#dialog").html(data);
        displayProblemListDialog();
      },
      error: function(err) {
        if (err.status == 200) {
          $("#dialog").html(err.responseText);
          displayProblemListDialog();
        }
      }
    });
  }

  function displayProblemListDialog() {
    $("#dialog").dialog(
      {
        minWidth: 500,
        minHeight: 500,
        width: 650,
        modal: true,
        buttons: {
          Close: function() {
            closeDialog();
          }
        }
      }).dialog('open');
  }