- #:patient => patient, :guideline => g, :body_system => context_body_system
- patient_guideline = PatientGuideline.find_by_patient_id_and_guideline_id(patient.id, guideline.id)
- steps = PatientGuidelineStep.find_all_by_patient_guideline_id(patient_guideline.id)
%b
  = guideline.name
%ul
  - steps.each do |step|
    - if step.is_met
      %li
        = step.guideline_step.description
        - unless step.guideline_step_observations.nil?
          %div.guideline-observation-panel{:id => "obs-panel-#{step.id}"}
            - last_group = nil
            - step.guideline_step_observations.each do |obs|
              - if last_group.nil? or obs.group != last_group
                - last_group = obs.group
                = render "guideline_step_observations/header", :observation => obs
              - else
                = render "guideline_step_observations/details", :observation => obs.observation
          = button_tag "&raquo;".html_safe, { :class => "show-details-button", :title => "Observations related to #{step.guideline_step.description}", :data => { :step_id => step.id } }
          - #step.guideline_step_observations.inspect unless step.guideline_step_observations.nil?
    - elsif step.requires_data
      %li
        = render "questions/guideline_questions", :questions => step.questions
