%p#notice= notice
%div#header
  = location_header(@location).html_safe
%div#container
  - if @location.can_have_patients
    = render "patient_detail", :location => @location
  - else
    - @child_locations.each do |loc|
      - if loc.can_have_patients
        = render "patient_location", :location => loc
      - else
        = render "location_summary", :location => loc
        - #= link_to loc.name, location_path(loc)

%br
= link_to 'Back', location_path(@location.parent_id)

= hidden_field_tag :timestamp, @timestamp
= hidden_field_tag :location_id, @location.id

%div#dialog{:title => "New Observation"}

:javascript
  setTimeout(function() { seeLocationChanges("#{@location.id}") }, 15000);
