%p#notice= notice
%div#header
  = "#{location_header @location}"
%div#container
  - @child_locations.each do |loc|
    - if loc.can_have_patients
      = render "patient_location", :location => loc
    - else
      = link_to loc.name, location_path(loc)

%br
= link_to 'Back', locations_path
