!!! 5
%html
  %head
  %title Bedside Intelligence
  %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    .navbar.navbar-default
      .navbar-inner
        .container
          = nav_bar :brand => "Bedside Intelligence\u2122", :brand_link => root_path, :responsive => true do
            = menu_group do
              - if current_user
                = menu_item "Dashboard", root_path
                = menu_item "Guidelines", guidelines_path
                = drop_down "Administer" do
                  = menu_item "Patient List", patients_path
                  = menu_item "Locations", locations_path
                = drop_down current_user.display_name do
                  = menu_item "Edit Profile", edit_user_path(:current)
                  = menu_item "Logout", logout_path
              - else
                %li
                  = menu_item "Login", new_user_session_path

    %div.content#content
      .container-fluid
        .row
          = yield

    %footer
      .container-fluid
        %div.row
          %div.span12.text-center
            %small
              (c) 2014 Bedside Intelligence, LLC